@font-face {
  font-family: bimba-normal;
  src: url(/fonts/VictorMono-Regular.ttf);
}

@font-face {
  font-family: bimba-italic;
  src: url(/fonts/VictorMono-Italic.ttf);
}

@font-face {
  font-family: bimba-bold;
  src: url(/fonts/VictorMono-Bold.ttf);
}

@font-face {
  font-family: bimba-bold-italic;
  src: url(/fonts/VictorMono-BoldItalic.ttf);
}

/* This is the scrollbar track */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* Fully transparent */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(127, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 0, 0)
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: 4px; /* "auto" or "thin" */
  scrollbar-color: rgb(127, 0, 0) rgb(0, 0, 0); /* thumb and track color */
  color: white;
  margin: 0;
  font-family: bimba-normal;
  background-color: rgb(2, 0, 26);
  background-image: url(/images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.642);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 2%;
  border-top: 2px solid rgb(127, 0, 0);
  margin-top: auto;
}

.kontakt p {
  margin: 0;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
}

.kontakt img {
  margin-right: 4%;
}

.kontaktieren a {
  text-decoration: none;
  color: white;
  background-color: rgb(127, 0, 0);
  padding: 2%;
  border-radius: 3px;
  transition: 0.3s;
}

.kontaktieren a:hover {
  background-color: rgb(170, 0, 0);
}

#signature {
  width: 60%;
}

.img-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
/*HEADER*/

header {
  font-size: large;
  font-family: bimba-normal;
  box-sizing: border-box;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 22.5%;
  width: 55%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px solid white;
  color: white;
}

header a {
  text-decoration: none;
  color: inherit;
  position: relative; /* added to position the before pseudo-element */
}

header a:active {
  color: white;
}

header a.active {
  font-weight: 700;
  font-family: bimba-italic;
}

header a:before { /* added pseudo-element */
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

header a:hover:before {
  visibility: visible;
  width: 100%;
}

/*MAIN PAGE*/
/*MAIN PAGE*/

.intro {
  width: 55%;
  margin-left: 22.5%;
}

#intro-img {
  position: absolute;
  opacity: 10%;
  width: 55%;
  left: 22.5%;
  top: 15%;
  transition: 0.5s;
}

#intro-img:hover {
  transform: scale(1.05);
}

.intro p {
  font-family: bimba-italic;
  font-size: 25px;
  margin-top: 16%;
  text-align: center;
}

.intro h2 {
  text-align: center;
  font-size: 31px;
  font-family: bimba-bold-italic;
}

/*ABOUTME*/
/*ABOUTME*/

.about-first-section {
  width: 55%;
  padding-left: 2%;
  margin-left: 22.5%;
  margin-top: 2%;
  display: flex;
}

.about-first-text {
  width: 50%;
}

.about-first-text p {
  font-size: 19px;
}

.vrsac,
.inf,
.zukunft {
  margin-right: 3%;
  width: 41%;
  margin-left: 2.5%;
  height: 500px;
  background-image: url(/images/vrsac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  box-shadow: 0px 1px 10px 1px black;

}

.inf {
  background-image: url(/images/inf.png);
}
.zukunft {
  background-image: url(/images/zukunft.jpg);
}

.vrsac:hover,
.inf:hover,
.zukunft:hover {
  overflow: hidden;
  box-sizing: border-box;
  transform: scale(1.05);
}

.skills {
  width: 55%;
  margin-left: 22.5%;
}

.skills h2 {
  margin-bottom: 5%;
}

.skill-img {
  width: 70%;
  transition: 0.3s;
  margin-top: 5%;
}

.skill-img:hover {
  transform: scale(1.1);
}


.single-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  box-sizing: border-box;
  padding: 1%;
  border: 1px rgba(255, 255, 255, 0.464) solid;
  background-color: rgba(0, 0, 0, 0.682);
}

.single-skill:hover {
  font-weight: 700;
}

.skill-facts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.school-days {
  width: 55%;
  margin-left: 22.5%;
}

.days {
  margin-top: 5%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.682);
  width: 70%;
  height: 65px;
}

.each-day {
  display: flex;
  background-color: rgba(0, 0, 0, 0.682);
  width: 13.2%;
  margin: 1%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  box-sizing: border-box;
}

.each-day:hover {
  background-color: rgba(255, 255, 255, 0.479);
  text-decoration: underline;
  border: 1px white solid;
}

#schoolday {
  background-color: #852121;
}

#schoolday:hover {
font-weight: 700;
}

#gbs {
  margin-top: 2%;
  box-shadow: 0px 1px 10px 1px black;
  border: 1px solid rgb(133, 33, 33);
}

.sprachen {
  background-color: rgba(0, 0, 0, 0.682);
  width: 55%;
  margin-left: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.each-lang {
  width: 35%;
  display: flex;
} 

.each-lang img {
  margin: 4%;
}


/*PROJECTS*/
/*PROJECTS*/

.projects {
  width: 55%;
  margin-left: 22.5%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
}

.project-imgs {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
}

.project-text {
  width: 50%;
  padding-left: 2%;
  margin-right: 2.5%;
}

.project-text p {
  font-size: 19px;
}

.project-img {
  width: 98%;
  margin: 0;
  margin: 0.1%;
  transition: 0.5s;
  object-fit: contain;
  height: auto;
}

.project-img:hover {
  transform: scale(1.05);
}

.preview {
  width: 55%;
  margin-left: 22.5%;
  margin-bottom: 5%;
}

#iframe-old-website {
  width: 100%;
  height: 600px;
  border: none;
  box-shadow: 0px 1px 10px 1px black;
  border-radius: 4px;
}

.dots {
  position: fixed;
  top: 42%;
  left: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: rgb(170, 0, 0);
}

/*KONTAKT*/
/*KONTAKT*/

.kontakt-formular form {
  width: 55%;
  margin-left: 22.5%;
  background-color: rgba(0, 0, 0, 0.487);
  padding-bottom: 2%;
  margin-top: 1.9%;
  outline: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.formular-feld {
  font-family: bimba-normal;
  background-color: rgba(0, 0, 0, 0);
  width: 95%;
  height: 33px;
  margin-top: 3%;
  transition: 0.3s;
  color: white;
  font-size: 19px;
  padding: 1%;
  border: none;
  border-bottom: 2px solid rgb(127, 0, 0);
}

.formular-feld:focus {
  background-color: rgb(127, 0, 0);
  outline: none;
}

#message {
  height: 200px;
  width: 95%;
  font-family: bimba-normal;
  resize: none;
}

.kontakt-formular form button {
  background-color: rgb(127, 0, 0);
  color: white;
  margin-top: 2%;
  margin-left: 10%;
  height: 50px;
  width: 30%;
  transition: 0.3s;
  text-align: start;
  font-size: 19px;
  font-family: bimba-normal;
  border: none;
  border-radius: 5px;
}

.kontakt-formular form button:hover {
  background-color: rgb(170, 0, 0);
  cursor: pointer;
} 

.kontakt-formular form label {
  margin: 0;
  font-size: 19px;
  font-family: bimba-italic;
  margin-left: 10%;
  margin-right: 9.4%;
  margin-top: 1%;
}

/*MOBILE ANSICHT*/
/*MOBILE ANSICHT*/

@media screen and (max-width: 650px) {
  
  header {
    width: 100%;
    margin: 0;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .kontakt {
    text-align: center;
  }

  .img-copyright {
    text-align: center;
    margin-top: 10%;
  }

  .kontaktieren {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 80%;
  }
  

  /*MAIN*/
  
  .intro {
    width: 95%;
    margin: 0;
    margin-left: 2.5%;
  }
  
  .intro p {
    margin-top: 20%;
    font-size: 24px;
  }
  
  .intro h2 {
    font-size: 27px;
  }
  
  #intro-img {
    width: 100%;
    left: 0;
    top: 14.8%;
  }

  #intro-img:hover {
    transform: scale(1);
  }

  /*ABOUT ME*/

  .dots {
    left: 2%;
  }

  .dot {
    width: 20px;
    height: 20px;
    margin-bottom: 25px;
  }

  .about-first-section {
    width: 80%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
  }

  .about-first-text {
    width: 100%;
  }

  .vrsac,
  .inf,
  .zukunft {
    width: 90%;
    margin-top: 8%;
    margin-bottom: 7%;
    margin-left: 3.35%;
  }

  .about-first-text p {
    font-size: 15px;
  }

  .school-days {
    width: 80%;
    margin-left: 12%;
  }

  .days {
    margin-bottom: 15%;
    margin-top: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    border: white solid 1px;
  }

  .each-day {
    height: 35px;
  }

  #gbs {
    width: 100%;
  }

  .skills {
    width: 80%;
    margin-left: 12%;
    margin-bottom: 7%;
  }

  .skills h2 {
    font-size: 19px;
  }

  .single-skill {
    width: 50%;
  }

  .sprachen {
    width: 80%;
    margin-left: 12%;
    align-items: start;
    margin-bottom: 10%;
  }

  /*PROJECTS*/

  .projects {
    width: 80%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
  }

  .project-img {
    width: 221%;
  }

  .project-text {
    width: 95.5%;
  }

  .project-text p {
    font-size: 15px;
  }

  .preview {
    display: none;
  }

  #dot-3 {
    display: none;
  }

  /*KONTAKT*/

  .kontakt-formular form {
    width: 80%;
    margin-left: 12%;
  }

  .kontakt-formular form label,
  .kontakt-formular form input,
  .kontakt-formular form textarea {
    font-size: 15px;
  }

  .kontakt-formular form button {
    width: 82%;
    margin: 0;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 15px;
  }


}





